body {
  background-color: #DEEDF0;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}

h1, h3 {
  color: #68bfbf;
}

img {
  width: 250px;
  padding-right: 20px;
}